@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary-color: #2d2d2f;
  --second-color: #173d5c;
  --third-color: #2277ff;
  --fourth-color: #c1d0e2;
  --font-stack: "IBM Plex Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-stack);
  font-size: 0.875rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

article {
  width: 300px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 20px;
}

.top_part {
  text-align: center;
}

h2,
.price {
  margin-bottom: 5px;
}

.price .amount {
  font-size: 2rem;
  font-weight: 600;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: var(--second-color);
}

ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  margin-bottom: 5px;
}

button {
  font-family: inherit;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--fourth-color);
  font-weight: 600;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 4px 8px 12px #bcc9da;
}

button:focus-visible {
  outline: 3px solid var(--fourth-color);
  outline-offset: 3px;
}

.popular {
  position: relative;
}

.popular button {
  background-color: var(--third-color);
  color: whitesmoke;
  font-weight: 600;
}

.popular .highlighted {
  position: absolute;
  top: -20px;
  left: 80px;
  color: whitesmoke;
  background-color: var(--third-color);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--second-color);
}

.popular .amount {
  color: var(--third-color);
}
